<div class="div wrapper">
  <div class="div container">
    <p-card>
      <div class="p-subheader"><h1 style="color: #0dbfd5">Add New Question</h1></div>
      <div class="p-card-content">
        <form  >

          <div class="p-field">
            <label for="option1">Enter Option 1</label>
            <input pInputText name="option1"  placeholder="Enter option 1" required>
          </div>

          <div class="p-field">
            <label for="option2">Enter Option 2</label>
            <input pInputText name="option2"   placeholder="Enter option 2" required>
          </div>

          <div class="p-field">
            <label for="option3">Enter Option 3</label>
            <input pInputText name="option3"  placeholder="Enter option 3" required>
          </div>

          <div class="p-field">
            <label for="option4">Enter Option 4</label>
            <input pInputText name="option4" placeholder="Enter option 4" required>
          </div>

          <div class="p-field">
            <label for="answer">Enter Correct answer of the above Question</label>
            <input pInputText name="answer"   placeholder="Enter answer of the question" required>
          </div>

          <div class="p-field">
            <button type="submit" pButton label="Add Question" class="p-button-primary"></button>
            <button type="reset" pButton label="Clear" class="p-button-secondary" style="margin-left: 20px;"></button>
          </div>
        </form>
      </div>
    </p-card>
  </div>
</div>
