
.full-width {
  width: 100%;
}

.p-field {
  margin-bottom: 10px;
}

.p-field label {
  margin-right: 10px;
}

.p-field .p-togglebutton {
  margin-top: 5px;
}

.p-field button {
  margin-top: 20px;
}
