
<nav class="navbar" >
  <div class="navbar-brand"><img src="assets/images/logo.png" alt="candy" style="width: 6rem;"></div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <button pButton type="button" routerLink="/admin/home" icon="pi pi-home" routerLinkActive="active" label="Home"></button>
    </li>
    <li class="nav-item">
      <button pButton type="button" routerLink="/admin/quiz" icon="pi pi-question-circle" label="Quizzes"></button>
    </li>
    <li class="nav-item">
      <button pButton type="button" routerLink="/admin/profile" icon="pi pi-user" label="Profile"></button>
    </li>
    <li class="nav-item">
      <button pButton type="button" icon="pi pi-power-off" label="Logout"></button>
    </li>
  </ul>
</nav>
